.wrapper {
    min-height: 100vh;
    background-image: url("/assets/LA_night.jpg");
    background-size: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperForm{
    width: 400px;
    min-height: 200px;
    border: 3px solid rgb(80, 200, 230);
    color: rgb(80, 200, 230);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

.input{
    background: none;
    border-color: rgb(80, 200, 230);
    border-width: 2px;
}

.input::placeholder{
    color: rgb(80, 200, 230);
}

.input:focus{
    background: none;
    border: rgb(80, 200, 230);;
}

.input::content{
    background: none;
    border-color: rgb(80, 200, 230);
    color: rgb(80, 200, 230);
}

.button{
    color: rgb(80, 200, 230);
    background: none;
    border: 3px solid rgb(80, 200, 230);
    border-radius: 15px;
}

a{
    color: rgb(80, 200, 230);
}