<app-main-header 
    [childPermission]="[permission.getInfo, permission.getChild]"
    [parentPermission]="[permission.getInfo, permission.getChild, permission.getParent, permission.crudGenus]"
    [adminPermission]="[permission.getInfo, permission.getChild, permission.getParent, permission.crudGenus, permission.removeUser]" 
    [godPermission]="[permission.getInfo, permission.getChild, permission.getParent, permission.crudGenus, permission.removeUser, permission.userToAdmin, permission.adminToUser]">
</app-main-header>
<app-profile></app-profile>
