<div *ngIf="user$ | async as user" class="wrapper p-3">    
    <div class="from_all_details">
        <p class="text">{{user.firstName}} {{user.lastName}}</p>
        <p class="text">{{user.birthDay | date:'dd-MM-yyyy'}}</p>
        <p class="text">{{user.gender.type}}</p>
    </div>
    <div *ngIf="this.user$.value.child else parent">
        <div *ngIf="this.user$.value.child != null" class="wrapper2">
            <div *ngFor="let item of user.child.genus.parents">
                <div class="from_all_click">                
                    <p class="text">{{item.user.firstName}} {{item.user.lastName}}</p>
                    <p class="text">{{item.user.birthDay | date:'dd-MM-yyyy'}}</p>
                    <p class="text">Parent</p>
                </div>
            </div>   
            <div *ngFor="let item of user.child.genus.children">
                <div class="from_all_click">                
                    <p class="text">{{item.user.firstName}} {{item.user.lastName}}</p>
                    <p class="text">{{item.user.birthDay | date:'dd-MM-yyyy'}}</p>
                    <p class="text">Child</p>
                </div>
            </div>   
        </div>       
    </div>
     
    <ng-template #parent>
        <div>
            <div *ngIf="this.user$.value.parent != null" class="wrapper2">
                <div *ngFor="let item of user.parent.genus.parents">
                    <div class="from_all_click">                    
                        <p class="text">{{item.user.firstName}} {{item.user.lastName}}</p>
                        <p class="text">{{item.user.birthDay | date:'dd-MM-yyyy'}}</p>
                        <p class="text">Parent</p>
                    </div>
                </div>  
                <div *ngFor="let item of user.parent.genus.children">
                    <div class="from_all_click">                    
                        <p class="text">{{item.user.firstName}} {{item.user.lastName}}</p>
                        <p class="text">{{item.user.birthDay | date:'dd-MM-yyyy'}}</p>
                        <p class="text">Child</p>
                    </div>
                </div> 
            </div>             
        </div>       
    </ng-template>
</div>

