<div class="main p-3">
    <div *ngIf="genus$ | async as genus">
        <a [routerLink]="['/genus', genus.id]"><button class="button mb-2">Back</button></a>
        <div>
            <form #form="ngForm" (ngSubmit)="submit(form)">
                <span *ngIf="genus.parents[0].user.gender.type == 'Female'">
                    <select [(ngModel)] = 'adults.userId' name="userId" class="form-control input">
                        <option *ngFor="let maleAdult of maleAdults" [ngValue]="maleAdult.id">{{ maleAdult.firstName }}</option>
                    </select><br />
                </span>
                <span *ngIf="genus.parents[0].user.gender.type == 'Male'">
                    <select [(ngModel)] = 'adults.userId' name="userId" class="form-control input">
                        <option *ngFor="let femaleAdult of femaleAdults" [ngValue]="femaleAdult.id">{{ femaleAdult.firstName }}</option>
                    </select><br />
                </span>                
                <button type='submit' class="form-control button2">Add Parent</button><br />
            </form>
        </div>
    </div>
</div>
