.main {
    min-height: 100vh;
    background-image: url("/assets/LA_night.jpg");
    background-size: 100%;
    z-index: 2;
    background-repeat: no-repeat;
}

.button {
    min-width: 100px;
    height: 50px;
    color: rgb(80, 200, 230);
    background: none;
    border: 3px solid rgb(80, 200, 230);
    border-radius: 15px;
    margin-right: 20px;
}