<nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: #563d7c;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><strong><a class="nav-link text-light me-5" aria-current="page" href="/">Main</a></strong></li>
        </ul>
        <nav><strong><a class="nav-link text-light me-3" routerLink="/login">Login</a></strong></nav>
        <nav><strong><a class="nav-link text-light" routerLink="/register">Register</a></strong></nav>
      </div>
    </div>
</nav>